$verde: #b4e6a1;
$naranja: #dbba7b;
$gris: #eff2ed;
$negro: #000000;

$display: 'Big Shoulders Display', cursive;

$cursiva1: 'La Belle Aurore', cursive;

$comun1: 'Open Sans', sans-serif;

$comun2:'PT Sans Narrow', sans-serif;

 $roboto: 'Roboto Condensed', sans-serif;

 $cursivappal: 'Staatliches', cursive;

 $cursivadescarte: 'Yellowtail', cursive;